body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  padding: 0 1.25%;
}

.progress {
  background-color: #c2185b;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

.main-container {
  min-height: calc(100vh - 70px - 64px);
  padding: 1.5% 1%
}

.btn {
  background-color: #ec407a;
}

.btn:hover {
  background-color: #f48fb1;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0.5rem;
}

label {
  margin-right: 1rem;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
  background-color: #ec407a;
}

[type="radio"].with-gap:checked+span:before {
  border: 2px solid #ec407a;
}